body {
  background: linear-gradient(to bottom, #f0f8ff, #ffffff);
  font-family: "Outfit", sans-serif;
  color: #333;
}

.container {
  position: relative;
  z-index: 1;
}

.snow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.snow div {
  position: absolute;
  position: absolute;
  width: 8px;
  height: 8px;
  background: rgba(121, 121, 121, 0.8);
  border-radius: 50%;
  animation: snowfall linear infinite;
}

@keyframes snowfall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.snow div:nth-child(1) {
  left: 5%;
  animation-duration: 8s;
  animation-delay: 0s;
}
.snow div:nth-child(2) {
  left: 15%;
  animation-duration: 6s;
  animation-delay: 1s;
}
.snow div:nth-child(3) {
  left: 25%;
  animation-duration: 10s;
  animation-delay: 2s;
}
.snow div:nth-child(4) {
  left: 35%;
  animation-duration: 7s;
  animation-delay: 0.5s;
}
.snow div:nth-child(5) {
  left: 45%;
  animation-duration: 9s;
  animation-delay: 3s;
}
.snow div:nth-child(6) {
  left: 55%;
  animation-duration: 5s;
  animation-delay: 1.5s;
}
.snow div:nth-child(7) {
  left: 65%;
  animation-duration: 11s;
  animation-delay: 4s;
}
.snow div:nth-child(8) {
  left: 75%;
  animation-duration: 6.5s;
  animation-delay: 2.5s;
}
.snow div:nth-child(9) {
  left: 85%;
  animation-duration: 8.5s;
  animation-delay: 0.8s;
}
.snow div:nth-child(10) {
  left: 95%;
  animation-duration: 7.5s;
  animation-delay: 3.5s;
}
.snow div:nth-child(11) {
  left: 10%;
  animation-duration: 9.5s;
  animation-delay: 1.2s;
}
.snow div:nth-child(12) {
  left: 20%;
  animation-duration: 5.5s;
  animation-delay: 4.5s;
}
.snow div:nth-child(13) {
  left: 30%;
  animation-duration: 10.5s;
  animation-delay: 0.3s;
}
.snow div:nth-child(14) {
  left: 40%;
  animation-duration: 6.8s;
  animation-delay: 2.8s;
}
.snow div:nth-child(15) {
  left: 50%;
  animation-duration: 8.2s;
  animation-delay: 1.8s;
}
.snow div:nth-child(16) {
  left: 60%;
  animation-duration: 7.2s;
  animation-delay: 3.2s;
}
.snow div:nth-child(17) {
  left: 70%;
  animation-duration: 9.8s;
  animation-delay: 0.6s;
}
.snow div:nth-child(18) {
  left: 80%;
  animation-duration: 5.8s;
  animation-delay: 4.2s;
}
.snow div:nth-child(19) {
  left: 90%;
  animation-duration: 11.5s;
  animation-delay: 1.6s;
}
.snow div:nth-child(20) {
  left: 100%;
  animation-duration: 6.2s;
  animation-delay: 2.2s;
}
