body {
  background: linear-gradient(to bottom, #f0f8ff, #ffffff);
  font-family: "Outfit", sans-serif;
  color: #333;
}

.card {
  margin-top: 50px;
}

.code-input {
  width: 45px;
  height: 45px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0 4px;
  border: 2px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.code-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

.code-input:valid {
  border-color: #28a745;
}

.modal-header {
  border-bottom: none;
  padding-bottom: none;
}

.modal-footer {
  border-top: none;
}
